<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    {% if description %}
    <meta name="description" content="{{description}}" />
    {% endif %} {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    {% if prism == true %}
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/css/prism-tomorrow.css"
    />
    {% endif %}
    <link type="text/css" rel="stylesheet" href="css/lightgallery-bundle.css" />
  </head>
  <body class="bg-[#f7f5ee] px-5 items-center">
    {% include "./partials/navbar.html" %}
    <div class="max-w-3xl grow mt-6 px-6">
      {% if title %}
      <div class="text-center">
        <h1 class="text-gray-800 font-medium">{{title}}</h1>
        {%if subtitle %}
        <p class="text-gray-600">{{subtitle}}</p>
        {% endif %}
      </div>
      {% endif %} {{ content | safe }}
    </div>
    {% include "./partials/footer.html" %}

    <script src="/static/js/alpine.js"></script>
    <script src="js/lightgallery.min.js"></script>

    {% if path == "home" %} {# Gallary initialiser #}

    <script>
      // Include Lightbox
      import PhotoSwipeLightbox from "/photoswipe/photoswipe-lightbox.esm.js";

      const lightbox = new PhotoSwipeLightbox({
        // may select multiple "galleries"
        gallery: "#gallery--getting-started",

        // Elements within gallery (slides)
        children: "a",

        // setup PhotoSwipe Core dynamic import
        pswpModule: () => import("/photoswipe/photoswipe.esm.js"),
      });
      lightbox.init();
    </script>

    <!-- Netlify Identity Widget -->
    <!-- Needed only if you are using Netlify Identity feature -->
    <script
      type="text/javascript"
      src="https://identity.netlify.com/v1/netlify-identity-widget.js"
    ></script>
    {% endif %}
  </body>
</html>
